
 @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;

  }

body{
    background-color: black;
}

  
.container {
    padding: 70px 0;
    justify-content:center;
}
  
/*title*/

.main-title {
    color: #ffffff;
    margin: 0 0 65px 0;
    font-size: 3em;
    text-align: center;
    
}

.main-title::after {
    content: " ";
    border-top: 2px solid #ffffff;
    width: 15%;
    position: absolute;
    top: 135px;
    left: 42.5%;
}

/*img*/

.room-gallery{
    text-align: center;
    
}

.gallery-hightlight {
    width: 27%;
    height: 9%;
    justify-content: center;
    border: 5px solid #ffffff;
  }
  
.room-preview {
    text-align: center;



}

.room-preview img {
    flex-grow: 1;
    height: 7.4rem;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
    border: 3px solid #ffffff;
}
  
img.room-active {
    opacity: 1;
} 

/*footer*/ 

footer{
    padding-top: 35px;
}
.footer1{
    text-align: center;
    padding-bottom: 2px;
}

.footer1 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.09em;
    font-size: 15px;
}

.footer2{   
    text-align: center;
}

.footer2 a{
    text-decoration: none;
    color: #5C6BC0;
    padding: 7px;
    letter-spacing: 0.08em;
    font-size: 15px;
}

.footer1 img{
    height: 1.6rem;
}

.footer2 img{
    height: 1.4rem;
}

@media(max-width: 425px) {

    .gallery-hightlight {
        width: 29%;
        height: 10%;
    }
    
    .room-preview img {
        height: 3.4rem;
    }

    .main-title{
        font-size: 1.3em;
    }

    .main-title::after {
        border: 1px solid black;
    }

    .fixarfooter{
        position: fixed;
    }
}

    
